@import url('https://fonts.googleapis.com/css?family=Satisfy|Gloria+Hallelujah');

body {
  font-family: "Gloria Hallelujah", sans-serif;
}

div, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background-color: red;
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

#game {
  width: 400px;
  height: 600px;
  background-color: skyblue;
  text-align: center;
}

#start-screen, #introduction-screen, #intro1, #intro2, #play-screen, #price-screen, #marketing-screen, #recipe-screen, #recipe-error {
  display: none;
}

#splash, #introduction {
  height: 440px;
}

#introduction {
  font-size: 120%;
}

.intro-img {
  width: 70px;
  height: 70px;
}

#start-button, #next-button {
  cursor: pointer;
}

#splash img {
  width: 300px;
  height: 300px;
}

#info {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-top: -20px;
  width: 250px;
  height: 250px;
  border-radius: 125px;
  background-color: rgba(250, 240, 230, 1);
  justify-content: center;
  align-items: center;
}

#play {
  text-align: center;
}

.row {
  padding-top: 30px;
}

.row-lean {
  padding-top: 15px;
}

.row-thin {
  padding-top: 10px;
}

#game-name {
  font-family: "Satisfy", serif;
  color: white;
}

.clickable {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.items {
  height: 35px;
  width: 70px;
  display: inline-block;
  margin: 0px 10px 0px 10px;
  padding-top: 35px;
}

#money {
  background-color: green;
  background: url(https://s3.amazonaws.com/lemonade-stand/money.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
}

#pitchers {
  background-color: orange;
  background: url(https://s3.amazonaws.com/lemonade-stand/pitcher.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
}

#reputation {
  background-color: pink;
  background: url(https://s3.amazonaws.com/lemonade-stand/reputation.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
}

#lemons {
  background-color: yellow;
  background: url(https://s3.amazonaws.com/lemonade-stand/lemon-item.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
}

#sugar {
  background-color: lightgray;
  background: url(https://s3.amazonaws.com/lemonade-stand/sugar.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
}

#ice {
  background-color: lightblue;
  background: url(https://s3.amazonaws.com/lemonade-stand/ice.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
}

#cups {
  background-color: red;
  background: url(https://s3.amazonaws.com/lemonade-stand/cups.svg);
  background-size: 70px 70px;
  background-repeat: no-repeat;
}

.option-img-sm {
  height: 40px;
  width: 40px;
  display: inline-block;
  margin: 0px 10px 0px 10px;
}

.recipe-item {
  height: 25px;
  width: 50px;
  display: inline-block;
  margin: 0px 7px 0px 7px;
  padding-top: 25px;
}

#recipe-lemons {
  background: url(https://s3.amazonaws.com/lemonade-stand/lemon-item.svg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

#recipe-sugar {
  background: url(https://s3.amazonaws.com/lemonade-stand/sugar.svg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

#recipe-ice {
  background: url(https://s3.amazonaws.com/lemonade-stand/ice.svg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

#options-screen {
  display: none;
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 400px;
  height: 600px;
  background-color: rgba(0, 0, 255, 0.7);
}

#options-open {

}

#options-close {
  position: absolute;
  top: 268px;
  left: 176px;
}

.option-img {
  width: 50px;
  height: 50px;
}

.option {
  display: none;
  position: absolute;
  border-radius: 50px;
  top: 250px;
  left: 150px;
}

.option-flex {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  width: 100px;
  height: 100px;
  line-height: 100%;
}

#change-recipe {  
  background-color: lemonchiffon;
}

#set-price {
  background-color: orange;
}

#set-marketing {
  background-color: lawngreen;
}

#price {
  font-size: 150%;
}