@import url('https://fonts.googleapis.com/css?family=Satisfy|Gloria+Hallelujah');

body {
  font-family: "Gloria Hallelujah", sans-serif;
  line-height: 5vh;
  font-size: 3vh;
  text-align: center;
}

#title {
  font-family: "Satisfy", san-serif;
  font-size: 200%;
  color: white;
}

div, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background-color: red;
  color: white;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

#game {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 95vh;
  width: 70vh;
  background-color: skyblue;
  border-radius: 5vh;
}

#start-screen, #introduction-screen, #intro1, #intro2, #intro3, #play-screen, #price-screen, #marketing-screen, #recipe-screen, #recipe-error {
  display: none;
}

#skip-intro {
  text-decoration: none;
  color: black;
}

#introduction {
  font-size: 3.25vh;
  height: 72vh;
}

.intro-img {
  width: 10vh;
  height: 10vh;
}

#start-button, #next-button {
  cursor: pointer;
}

#splash {
  height: 65vh;
}

#splash img {
  width: 300px;
  height: 300px;
}

#info {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 50vh;
  border-radius: 25vh;
  background-color: ghostwhite;
  align-items: center;
  justify-content: center;
}

.info-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  height: 10vh;
}

.message-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  height: 20vh;
  width: 40vh;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 3vh;
  width: 70vh;
}

.row-fat {
  padding-top: 5vh;
}

.clickable {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18vh;
  height: 10vh;
}

#money {
  background: url(https://s3.amazonaws.com/lemonade-stand/money.svg);
  background-size: 10vh 10vh;
  background-repeat: no-repeat;
  background-position: center;
}

#weather {
  background: url(https://s3.amazonaws.com/lemonade-stand/cloudy.svg);
  background-size: 10vh 10vh;
  background-repeat: no-repeat;
  background-position: center;
  align-items: flex-end;
}

#options-open {
  background: url(https://s3.amazonaws.com/lemonade-stand/options.svg);
  background-size: 10vh 10vh;
  background-repeat: no-repeat;
  background-position: center;
}

#reputation {
  background: url(https://s3.amazonaws.com/lemonade-stand/reputation.svg);
  background-size: 10vh 10vh;
  background-repeat: no-repeat;
  background-position: center;
}

#pitchers {
  background: url(https://s3.amazonaws.com/lemonade-stand/pitcher.svg);
  background-size: 10vh 10vh;
  background-repeat: no-repeat;
  background-position: center;
}

#cups {
  background: url(https://s3.amazonaws.com/lemonade-stand/cups.svg);
  background-size: 10vh 10vh;
  background-repeat: no-repeat;
  background-position: center;
}

#lemons {
  background: url(https://s3.amazonaws.com/lemonade-stand/lemon-item.svg);
  background-size: 10vh 10vh;
  background-repeat: no-repeat;
  background-position: center;
}

#sugar {
  background: url(https://s3.amazonaws.com/lemonade-stand/sugar.svg);
  background-size: 10vh 10vh;
  background-repeat: no-repeat;
  background-position: center;
}

#ice {
  background: url(https://s3.amazonaws.com/lemonade-stand/ice.svg);
  background-size: 10vh 10vh;
  background-repeat: no-repeat;
  background-position: center;
}

.option-img-sm {
  height: 40px;
  width: 40px;
  display: inline-block;
  margin: 0px 10px 0px 10px;
}

.recipe-item {
  height: 25px;
  width: 50px;
  display: inline-block;
  margin: 0px 7px 0px 7px;
  padding-top: 25px;
}

#recipe-lemons {
  background: url(https://s3.amazonaws.com/lemonade-stand/lemon-item.svg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

#recipe-sugar {
  background: url(https://s3.amazonaws.com/lemonade-stand/sugar.svg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

#recipe-ice {
  background: url(https://s3.amazonaws.com/lemonade-stand/ice.svg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
}

#options-screen {
  display: none;
  content: "";
  position: absolute;
  height: 95vh;
  width: 70vh;
  background-color: rgba(0, 0, 255, 0.7);
  text-align: center;
  border-radius: 5vh;
}

#options-close {
  padding-top: 51vh;
}

.option-img {
  width: 10vh;
  height: 10vh;
}

.option {
  display: none;
  position: absolute;
  top: 50vh;
  left: 25vh;
  border-radius: 10vh;
}

.option-flex {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  width: 20vh;
  height: 20vh;
}

#change-recipe {  
  background-color: lemonchiffon;
}

#set-price {
  background-color: orange;
}

#set-marketing {
  background-color: lawngreen;
}

#price {
  font-size: 150%;
}

#message {
  height: 72px;
}