#game {
  width: 400px;
  height: 600px;
  background-color: honeydew;
}

#start-screen, #introduction-screen, #play-screen {
  display: none;
}

#start, #introduction {
  text-align: center;
}

#start-button, #begin-button {
  cursor: pointer;
}

#splash img {
  width: 300px;
  height: 300px;
}

#info {
  width: 250px;
  height: 250px;
  border-radius: 150px;
  background-color: rgba(255, 212, 42, 1);
}

#play {
  text-align: center;
}

.row {
  padding-top: 40px;
}

#info {
  margin: auto;
  
}

.clickable {
  cursor: pointer;
}

.items {
  height: 35px;
  width: 70px;
  border-radius: 35px;
  display: inline-block;
  margin: 0px 10px 0px 10px;
  padding-top: 35px;
}

#money {
  background-color: green;
}

#pitchers {
  background-color: orange;
}

#lemons {
  background-color: yellow;
}

#sugar {
  background-color: lightgray;
}

#ice {
  background-color: lightblue;
}

#cups {
  background-color: red;
}